#bottomBTN {
    text-align: center;
    position: relative;
    left: -13%;
}

i {
    font-size: 1.27em;
    padding: 5px;
}

.more-info-button {
    border-radius: 3px;
    color: #181c23;
    background-color: #fff;
    border: 1px solid #aaa;
    padding: 3px 6px;
    text-decoration: none;
    font-weight: 600;
    transition-duration: 0.20s;
}

    .more-info-button:hover {
        background-color: #e0e0e0;
    }
