#page_content {
    margin: 3px;
}

.alignleft {
    float: left;
}

img.alignleft {
    display: inline;
    margin: 10px 15px 10px 0;
}


#bottomBTN {
    text-align: center;
    position: relative;
    left: -13%;
}

#nav-tabContent i {
    font-size: 1.27em;
    padding: 5px;
}

.more-info-button {
    border-radius: 3px;
    color: #181c23;
    background-color: #fff;
    border: 1px solid #aaa;
    padding: 3px 6px;
    text-decoration: none;
    font-weight: 600;
    transition-duration: 0.20s;
}

    .more-info-button:hover {
        background-color: #e0e0e0;
    }

.nav-tabs .nav-link {
    color: #fbf5f5;
    margin-left: 10px;
}

.nk-down {
    float: left;
    max-width: 100%;
    font-size: 1rem;
}

h6 {
    color: #04b8a5;
}

.nk-decorated-h, .nk-decorated-h-2 {
    display: flex;
}

    .nk-decorated-h-2::after, .nk-decorated-h-2::before {
        border-bottom-color: #353c4a !important;
    }

    .nk-decorated-h-2::before, .nk-decorated-h::before {
        flex: 20px !important;
        width: 20px !important;
        min-width: 20px !important;
    }

    .nk-decorated-h-2::after, .nk-decorated-h-2::before, .nk-decorated-h::after, .nk-decorated-h::before {
        content: "";
        display: block;
        flex: 100;
        border-bottom: 4px solid;
        transform: translateY(-10px);
    }

    .nk-decorated-h-2::after, .nk-decorated-h-2::before {
        border-bottom-color: #353c4a;
    }

    .nk-decorated-h-2::after, .nk-decorated-h-2::before, .nk-decorated-h::after, .nk-decorated-h::before {
        content: "";
        display: block;
        flex: 100;
        border-bottom: 4px solid;
        transform: translateY(-10px);
    }

    .nk-decorated-h-2 > a, .nk-decorated-h-2 > span, .nk-decorated-h > a, .nk-decorated-h > span {
        display: block;
        flex: auto;
        padding-right: 20px;
        padding-left: 20px;
    }