#charNum {
    direction: ltr;
    color: dimgray;
    font-size: 15px;
}


.bannerimage img {
    width: 970px;
    height: 250px;
}



.cName {
    font-size: 40px;
    text-align: center;
    margin-top: 20px;
}

.cDisc {
    margin-bottom: 50px;
}

.details {
    text-align: center;
}

.container div {
    text-align: center;
}

.details {
    text-align: right;
    font-size: 18px;
}

#cPro, #cPayment, #cOnline {
    padding-bottom: 25px;
}

#Trophy {
}

.troph {
    margin-bottom: 10px;
    text-align: right;
}

#consoleDIV, #gameCategoryDIV {
    place-content: center;
    margin-top: 35px;
    margin-bottom: -10px;
}

    #consoleDIV p, #gameCategoryDIV p {
        margin-bottom: -1px;
    }

