table, tr {
    border: 1px solid black;
    color: black;
}

.modal-content {
    color: black;
}

#BTNActions {

text-align:center;
margin-bottom:1px;
}

#toolBTN {
    border: 3px solid #eaf1ee;
}

#wrapTool {
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 5px;
}
#charNum {
    direction: ltr;
    color: dimgray;
    font-size: 15px;
}

.logofilePH img {
/*    max-height: 250px;
    max-width: 950px;*/
    height: 190px;
    width: 350px;
}

.bannerfilePH img {
    height: 200px;
    width: 100%;
}


.noteforfiles {
    font-size: 12px;
}

.ck.ck-editor {
    color: black;
    direction: rtl;
}

.container img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 3px;
    background-color: #F0FFFF;
    /*width: 100%;*/
}

.modal-header {
    background-color: #dd163b;
}
