.card {
    border: 0px;
    margin-left: 0px;
    text-align: center;
}

    .card img {
        max-height: 200px;
        max-width: 100%;
    }

.card-body {
    padding: 0px;
    background-color: black;
    width: 240px;
    height: 250px;
    margin-bottom: 20px;
}

.card p {
    text-align: center;
}

.card i {
    text-align: center;
}

.card-title, .card-text {
    text-align: center;
}

div.dataTables_wrapper div.dataTables_length label {
    display: none;
}

div.dataTables_wrapper div.dataTables_filter label {
    position: absolute;
    top: -49px;
    right: 77%;
}


@media only screen and (max-width: 1040px) {
    div.dataTables_wrapper div.dataTables_filter input {
        width: 150px;
    }

    div.dataTables_wrapper div.dataTables_filter label {
        right: 75%;
    }
}

@media only screen and (max-width: 820px) {
    div.dataTables_wrapper div.dataTables_filter input {
        width: 100px;
    }

    div.dataTables_wrapper div.dataTables_filter label {
        right: 65%;
    }
}

div.dataTables_wrapper div.dataTables_filter input {
    background: white !important;
}


.nk-table.nk-table thead td, .nk-table.nk-table thead th {
    padding: 11px 18px;
}

.nk-table thead {
    font-size: 1.32rem;
    background-color: #dd163b;
}


table {
    border-collapse: collapse;
    width: 20%;
    background-color: #363d49;
}

td {
    font-size: 14px;
    font-family: Arial;
}

tr:nth-child(odd) {
    background-color: red;
}

tr:nth-child(even) {
    background-color: cadetblue;
}

th {
    color: #fff;
    font-family: "Open Sans",sans-serif;
    background: #2c3e50;
    font-weight: bold;
}

.dataTables_paginate {
    float: left !important;
}


.uniqueClassName {
    text-align: center;
}

table.dataTable thead .sorting:after {
    opacity: .0 !important;
}

.table > :not(:last-child) > :last-child > * {
    border-bottom-color: #181c23;
}


.btn-link {
    text-decoration: none;
}


a {
    color: white;
    text-decoration: none;
    /*font-family: arial;*/
}

    a:hover {
        color: #04b8a5;
        transition: .15s color;
    }

    /*            a.reject:hover {
                color: #ed4564;
                transition: .15s color;
            }*/

    a.delete:hover {
        color: #ed4564;
        transition: .15s color;
    }

    a.edit:hover {
        color: #f3cc5b;
        transition: .15s color;
    }

    a.view:hover {
        color: #5c99f0;
        transition: .15s color;
    }


.table-dark {
    --bs-table-bg: #363c4a !important;
    --bs-table-striped-bg: #2e333e !important;
}

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
    color: #2b2626;
}


tbody, td, tfoot, th, thead, tr {
    border-color: #1d232f;
}


#RedTitle {
    border: solid #292e38;
    border-width: 0px 0px 1px 1px;
}

.Bordertable {
    border: solid #1d232f !important;
    border-width: 1px 0px 1px 1px !important;
}

#FutureCompetitionsGeneral {
    text-align: -webkit-center;
    display: flex;
}

.card {
    display: inline-block;
    margin-left: 10px;
}

.bi-star:hover {
    color: yellow;
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
}

.bi-star {
    position: absolute;
    font-size: 30px;
    margin-right: 200px;
}

.container img {
    height: 120px;
    width: 240px;
}

.container .card img {
    max-height: 200px;
    max-width: 100%;
}

.rounded-circle {
    height: 25px;
    width: 25px;
}

    .rounded-circle:hover {
        -ms-transform: scale(1.5); /* IE 9 */
        -webkit-transform: scale(1.5); /* Safari 3-8 */
        transform: scale(1.5);
    }


.table img {
    height: 25px;
    width: 25px;
}


#divfilterrank {
    position: absolute;
    top: 36.9% !important;
    right: 60.2% !important;
    color: #313030;
}

th:first-child {
    border-left: 1px solid black !important;
}

.nk-decorated-h, .nk-decorated-h-2 {
    display: flex;
}

    .nk-decorated-h-2::after, .nk-decorated-h-2::before {
        border-bottom-color: #353c4a !important;
    }

    .nk-decorated-h-2::before, .nk-decorated-h::before {
        flex: 20px !important;
        width: 20px !important;
        min-width: 20px !important;
    }

    .nk-decorated-h-2::after, .nk-decorated-h-2::before, .nk-decorated-h::after, .nk-decorated-h::before {
        content: "";
        display: block;
        flex: 100;
        border-bottom: 4px solid;
        transform: translateY(-10px);
    }

    .nk-decorated-h-2::after, .nk-decorated-h-2::before {
        border-bottom-color: #353c4a;
    }

    .nk-decorated-h-2::after, .nk-decorated-h-2::before, .nk-decorated-h::after, .nk-decorated-h::before {
        content: "";
        display: block;
        flex: 100;
        border-bottom: 4px solid;
        transform: translateY(-10px);
    }

    .nk-decorated-h-2 > a, .nk-decorated-h-2 > span, .nk-decorated-h > a, .nk-decorated-h > span {
        display: block;
        flex: auto;
        padding-right: 20px;
        padding-left: 20px;
    }

#lesslines1 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show (-2 always)*/
    -webkit-box-orient: vertical;
}