/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    color: black;
    justify-content: normal;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
}

.modal-footer {
    justify-content: normal;
}

#alertEmail, #alertEmailWrong {
    color: red;
}
