/*Template Style*/
/* This CSS made for Gamer-SignUp*/

body {
    background-color: #212529;
    color: white;
}

.container {
    background-color: #292e38;
    max-width: 1110px;
    height: 2000px;
    padding-top: 15px;
}

.jumbotron {
    height: 70px;
    text-align: center;
    padding: 10px;
}

input {
    text-align: right;
}


hr {
    display: inline-block;
    width: 73%;
    margin-bottom: 0px;
    margin-left: 5px;
    opacity: 1;
    height: 2px !important;
}


/*Template Style*/
